@charset "UTF-8";

:root {
    --cor-do-texto: #1a1c20;
    --cor-do-link: #4a76ee;
    --cor-do-fundo: #eeeff1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--cor-do-fundo);
}

a {
    color: var(--cor-do-link);
    text-decoration: none;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 90px;
}

nav .esquerda a {
    color: var(--cor-do-texto);
    font-size: 22px;
    font-weight: 600;
}

nav .direita a {
    color: var(--cor-do-texto);
    margin: 0 10px;
}

nav .direita a:last-child {
    color: var(--cor-do-fundo);
    background-color: var(--cor-do-texto);
    padding: 5px 15px;
    border-radius: 5px;
}

nav .direita a  span {
    margin-left: 5px;
}

/* SECTION 1: Hero */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
    margin-bottom: 100px;
    gap: 40px;
}

.hero-section .texto {
    flex: 5;
}

.hero-section .texto h2 {
    font-size: 45px;
}

.hero-section .texto .links {
    margin-top: 25px;
}

.hero-section .texto .links a {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--cor-do-link);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .1s;
}

.hero-section .texto .links a:hover {
    color: var(--cor-do-texto);
    border: 2px solid var(--cor-do-texto);
}

.hero-section .fotorosto {
    flex: 2;
    display: flex;
    justify-content: right;
}

.hero-section .fotorosto img {
    width: 350px;
}

@media (max-width: 850px) {
/* SECTION 1: Hero */
    .hero-section .texto h2 {
        font-size: 35px;
    }
}


@media (max-width: 740px) {
/* SECTION 1: Hero */
    .hero-section {
        flex-direction: column-reverse;
    }

    .hero-section .fotorosto img {
        width: 300px;
    }
}


@media (max-width: 600px) {
    /* NAVBAR */
    nav {
        padding: 0 20px;
    }

    nav .direita a {
        font-size: 22px;
    }
    
    nav .direita a:last-child {
        color: var(--cor-do-texto);
        background-color: transparent;
        padding: 0;
    }
    
    nav .direita a span {
        display: none;
    }
}

