@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}


header {
    display: flex;
    padding: 50px;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

header nav ul {
    font-family: 'JetBrains Mono';
    font-size: 1em;
    font-weight: bold;
    display: flex;
    color: rgb(0, 0, 0);
    gap: 30px;
    list-style: none;
}

header nav ul li {
    display: inline-block;
}

header nav li:hover {
    cursor: pointer;
    text-decoration: underline;
}

#capa {
    display: flex;
    padding: 50px;
    gap: 50px;
    justify-content: space-evenly;
}

#ap1 {
    font-family: 'JetBrains Mono';
    font-size: 3.5em;
    color: rgb(0, 0, 0);
    margin-bottom: 50px;
    line-height: 1.1;
}

#ap2 {
    font-family: 'JetBrains Mono';
    font-size: 1.8em;
    color: rgb(0, 0, 0);
    width: 500px;
}

#capa strong {
    font-size: 1.5em;
    color: #140021;
}

#capa picture img {
    height: 500px;
    width: 500px;
}

#social {
    display: flex;
    padding: 50px;
}

#social ul {
    display: flex;
    list-style: none;
    margin: auto;
    gap: 30px;
}

#social ul img {
    width: 64px;
    height: 64px;
}

